@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --font-manrope: 'Manrope', sans-serif;
  --gutter: 20px;
  --page-padding: 20px;
}

html {
  height: auto;
  min-height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
  /* FORCE SCROLL ENABLED */
  overflow-y: auto !important;
  /* FORCE NATIVE CURSOR VISIBILITY */
  cursor: auto !important;
}

/* Lenis Configuration */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Custom Selection */
::selection {
  background: #000;
  color: #fff;
}