@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #000000;
  --font-manrope: 'Manrope', sans-serif;
}

html.lenis, html.lenis body {
  height: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope);
  font-weight: 300; /* Makhno/McAlpine hissiyatı için Light varsayılan */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  overflow-x: hidden;
}

/* Minimalist Selection */
::selection {
  background: #000000;
  color: #FFFFFF;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}